.areasContainer {
 width: 100%;
 min-height: calc(100vh - 78px);
 background: #7854f7;
}
.areasSection {
 position: relative;
 z-index: 2;
 &::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: calc(100vh - 78px);
  background: linear-gradient(
   180deg,
   rgba(236, 240, 253, 0) 0%,
   rgba(236, 240, 253, 0.53) 14.32%,
   #ecf0fd 45.83%,
   rgba(236, 240, 253, 0.43) 84.33%,
   rgba(236, 240, 253, 0) 100%
  );
 }
}
.areasPostContainer {
 display: flex;
 flex-wrap: nowrap;
 margin-top: 71px;
}

.areasHeader {
 display: flex;
 align-items: center;
 width: 100%;
 height: 111px;
 background: #7854f7;
 position: relative;

 .bg {
  img {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;

   width: 100%;
   height: 100%;
   opacity: 1;
  }
 }
}

.areasCatergory {
 list-style: none;
 display: flex;
 padding: 12px 0px;
 justify-content: space-between;
 position: relative;
 z-index: 2;
 a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  padding: 12px 60px;
  background: #7854f7;
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
 }

 li.activeLink a {
  color: #7854f7 !important;
  background: #fff;
  transition: all 0.3s ease-in-out;
 }
}
.asideBox {
 margin-right: 54px;
 ul {
  list-style: none;
  li {
   max-width: 210px;
   width: 210px;
   margin-top: 54px;
   position: relative;
   &:hover {
    a {
     transition: all 0.3s ease-in-out;
     color: #ffa800 !important;
    }
   }
   &::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -11px;
    height: 4px;
    border-radius: 20px;
    width: 0%;
    margin-top: 11px;
    background: #ffa800;
    transition: all 0.3s ease-in-out;
   }
   a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: 0.46px;
    text-transform: capitalize;

    color: #7854f7;
    transition: all 0.3s ease-in-out;
   }
  }
  li:first-child {
   margin-top: 0px;
  }
 }
}
.activePost {
 &::after {
  width: calc(100% + 20px) !important;
  transition: all 0.3s ease-in-out !important;
 }
 a {
  color: #ffa800 !important;
 }
}

.PostContainer {
 .PostContent {
  width: calc(1280px - 264px);
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 80px;
  p > img {
   max-width: 100%;
   margin: 20px 0px;
  }

  p {
   margin-top: 16px;

   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color: #272d4e;
  }

  p strong {
   font-weight: 600 !important;
   color: #272d4e !important;
  }

  ul,
  ol {
   margin-top: 20px;
   margin-left: 25px;
  }

  ul li::marker {
   color: #7854f7;
   font-size: 22px;
  }

  ul li,
  ol li {
   margin-top: 12px;

   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color: #272d4e;
  }
  h1 {
   margin-bottom: 30px;
  }
  h2,
  h3,
  h4 {
   margin-top: 45px;
  }

  :first-child h2,
  &:first-child h3,
  &:first-child h4 {
   margin-top: 0px;
  }
 }
}
