$textColorLang: #616161;
.header {
  position: fixed;
  top: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 78px;
  width: 100%;
  background: #ffffff;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.navBox {
  @media screen and (max-width: 690px) {
    display: none;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 28px;
    }
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.locationBox {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  div + div {
    margin-left: 56px;
  }
  @media screen and (max-width: 500px) {
    p {
      display: none;
    }
  }
}
.logoColor {
  svg path {
    fill: #2c2c2c;
  }
  svg path:nth-child(10),
  svg path:nth-child(11) {
    fill: #5e18ec;
  }
}
.locationText {
  margin-left: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;

  color: $textColorLang;
}
.logoBox {
  display: flex;
}
.mobileBtn {
  margin-right: 16px;
  display: none;
  @media screen and (max-width: 690px) {
    display: block;
  }
  button {
    cursor: pointer;
    border: none;
    background: none;
    width: 24px;
    height: 24px;
  }
}
.navMobile {
  display: none;
  @media screen and (max-width: 690px) {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 78px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
  }
}
.openNavMobile {
  display: flex;
  transition: all 0.3s ease-in-out;
  transform: translateX(0%);
}
.navMobileBox {
  ul {
    width: 95%;
    margin: 30px auto;
    list-style: none;
  }
  ul li a {
    display: block;
    padding: 16px 8px;

    font-size: 16px;
    line-height: 20px;
    color: #424242;
  }
}
.navMobileBtnClose {
  padding-top: 24px;
  margin: auto 24px 16px 24px;
  box-sizing: border-box;
  border-top: 1px solid #d0d5dd;
  // &::after{
  //   content: ;
  // }
  button {
    display: block;
    width: 100%;
    background: #7854f7;
    border-radius: 4px;
    padding: 6px 0px;
    text-align: center;
    cursor: pointer;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}
