$textColorLang: #616161;
.header {
 position: fixed;
 top: 0px;
 z-index: 100;
 display: flex;
 align-items: center;
 height: 78px;
 width: 100%;
 background: #ffffff;
 box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.navBox {
 @media screen and (max-width: 690px) {
  display: none;
 }
 ul {
  list-style: none;
  display: flex;
  li {
   margin-right: 28px;
  }
 }
}

.headerContainer {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.locationBox {
 display: flex;
 align-items: center;
 div + div {
  margin-left: 56px;
 }
 @media screen and (max-width:500px) {
   p{
    display: none;
   }
 }
}

.locationText {
 margin-left: 7px;
 font-weight: 600;
 font-size: 16px;
 line-height: 20px;
 text-transform: capitalize;

 color: $textColorLang;
}
