@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
* {
 margin: 0px;
 padding: 0px;
 outline: none;
}

html {
 scroll-behavior: smooth;
}

a {
 text-decoration: none;
 outline: none;
}

body {
 font-family: "Plus Jakarta Sans";
 font-style: normal;
 min-height: 100vh;
}

.container {
 width: 1280px;
 margin: 0px auto;
 @media screen and (max-width: 1300px) {
  width: 95%;
 }
}

$textColorLink: #424242;
$textColorActive: #7854f7;

.navBarLink {
 font-family: "Plus Jakarta Sans";
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 20px;
 color: $textColorLink;
}
.active {
 color: $textColorActive;
 font-weight: 700;
}

.sectionTitle {
 font-weight: 700;
 font-size: 55px;
 line-height: 70px;

 text-align: center;
 color: #272d4e;
 @media screen and (max-width: 1000px) {
  font-size: 36px;
  line-height: 50px;
 }
}

.btnGoUp {
 display: flex;
 justify-content: center;
 width: 100%;
 margin-bottom: 189px;

 button {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  text-align: center;

  color: #7854f7;

  padding: 26px 107px;

  background: #fff;

  border: 2px solid #7854f7;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  &:hover {
   transition: all 0.3s ease-in-out;
   color: #fff;
   background: #7854f7;
  }
 }
}

.slick-slider {
 width: 100%;
}
.myArrowSlick {
 background: none;
 border: none;
 position: absolute;
 cursor: pointer;
 bottom: -24px;
}

@keyframes NextArrow {
 0% {
  transform: translateX(0px);
 }
 50% {
  transform: translateX(5px);
 }
 100% {
  transform: translateX(0px);
 }
}

@keyframes NextArrowActive {
 from {
  transform: translateX(0px);
 }
 to {
  transform: translateX(15px);
 }
}

@keyframes PrevArrow {
 0% {
  transform: rotateY(180deg) translateX(0px);
 }
 50% {
  transform: rotateY(180deg) translateX(5px);
 }
 100% {
  transform: rotateY(180deg) translateX(0px);
 }
}
@keyframes PrevArrowActive {
 from {
  transform: rotateY(180deg) translateX(0px);
 }
 to {
  transform: rotateY(180deg) translateX(15px);
 }
}

.myArrowNext {
 right: 0px;
 &:active svg {
  animation: NextArrowActive 0.5s !important;
 }
 &:hover svg {
  animation: NextArrow 2s infinite ease-in-out;
 }
}
.myArrowPrev {
 right: 54px;
 &:active svg {
  animation: PrevArrowActive 0.5s !important;
 }
 &:hover svg {
  animation: PrevArrow 2s infinite ease-in-out;
 }
}
